﻿@model IList<NTSPRODUCT.Models.Menu>
@{ var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;}

<footer class="footer">
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="block block-cs col-xs-12 col-sm-5 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            @Html.Raw(conf.footer)
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-5 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            @Html.Raw(conf.footerExten)
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="footer-widget">
                            <h4>
                               <span style="color: #ccff99;">Thống kê</span>
                            </h4>
                            <ul class="list-menu has-toggle">
                                @*@foreach (var item in Model)
        {
            <li><a href="@item.link" title="@item.name">@item.name</a></li>
        }*@

                                <li><i class="fa fa-user-md" aria-hidden="true"></i> Đang online: <b id="count_online"></b></li>
                                <li><i class="fa fa-user-secret" aria-hidden="true"></i> Trong tháng: <b id="counterMonth"></b></li>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"></i> Lượt truy cập: <b id="counterAll"></b>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block block-cs col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="footer-widget">
                            @Html.Raw(conf.infoPage)

                            <ul class="list-menu has-toggle social-media-footer" style="display: block;">
                                @if (!string.IsNullOrEmpty(conf.twiter))
                                {
                                    <li><a href="@conf.twiter" title="twitter"><i class="fa fa-twitter"> </i></a></li>
                                }
                                @if (!string.IsNullOrEmpty(conf.faceBook))
                                {
                                    <li><a href="@conf.faceBook" title="facebook"><i class="fa fa-facebook"> </i></a></li>
                                }
                                @if (!string.IsNullOrEmpty(conf.google))
                                {
                                    <li><a href="@conf.google" title="instagram"><i class="fa fa-google-plus"> </i></a></li>
                                }
                                @if (!string.IsNullOrEmpty(conf.youTube))
                                {
                                    <li><a href="@conf.youTube" title="youtube"><i class="fa fa-youtube"> </i></a></li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix">
        <div class="container">
            <div class="inner clearfix">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center copy-right-text">
                            @conf.copyRight <span class="nc hidden-xs">|</span> <span class="cungcap">Thiết kế bởi <a style="color: #c2bebe" target="_blank" href="https://thietkewebsitedomain.com/" title="Sapo">thietkewebsitedomain.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section id="hotline-zalo-fb">
    @if (!string.IsNullOrEmpty(conf.phone))
    {
        <a href="tel:@conf.phone" class="call-icon" rel="nofollow">
            <img src="~/Content/CssSite/images/hotline.png" />
            <span>Hotline</span>
        </a>
    }
    @if (!string.IsNullOrEmpty(conf.zaloChat))
    {
        <a href="@("http://zalo.me/"+conf.zaloChat)" class="zalo">
            <img src="~/Content/CssSite/images/zalo.png" />
            <span>Zalo</span>
        </a>
    }
    @if (!string.IsNullOrEmpty(conf.faceBook))
    {
        <a href="@conf.faceBook" target="_blank" class="mes">
            <img src="~/Content/CssSite/images/fb.png" />
            <span>Facebook</span>
        </a>
    }
    @if (!string.IsNullOrEmpty(conf.youTube))
    {
        <a href="@conf.youTube" target="_blank" class="mes">
            <img src="~/Content/CssSite/images/youTube.png" />
            <span>YouTube</span>
        </a>
    }
    @if (!string.IsNullOrEmpty(conf.shoppe))
    {
        <a href="@conf.shoppe" target="_blank" class="mes">
            <img src="~/Content/CssSite/images/shoppe.png" />
            <span>Shoppe</span>
        </a>
    }
    @if (!string.IsNullOrEmpty(conf.tiki))
    {
        <a href="@conf.tiki" target="_blank" class="mes">
            <img src="~/Content/CssSite/images/tiki.png" />
            <span>Tiki</span>
        </a>
    }
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i style="color: darkgreen; font-size: 30px;" class="fa fa-arrow-circle-up" aria-hidden="true"></i>
</button>
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: darkgray;
        color: white;
        cursor: pointer;
        padding: 6px 10px;
        border-radius: 4px;
    }

        #myBtn:hover {
            background-color: darkgray;
        }

    .level0 .level1 a span:hover {
        color: #e33725 !important
    }

    section#hotline-zalo-fb {
        position: fixed;
        top: 25%;
        right: 10px;
        z-index: 9999;
    }

    #hotline-zalo-fb a {
        display: block;
    }

    .call-icon img {
        border-radius: 50%;
        background: #64bc46;
        padding: 6px;
    }

    #hotline-zalo-fb a img {
        width: 40px;
        margin-bottom: 10px;
    }

    #hotline-zalo-fb a.call-icon {
        animation-name: swing;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #hotline-zalo-fb a span {
        display: none;
    }

    .smalltext {
        padding-top: 1px;
        font-size: 14px;
        color: #000;
    }
</style>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!--End footer-->
@Html.Raw(conf.liveChat)
@Html.Raw(conf.googleAdsense)