@model NTSPRODUCT.Models.ShoppingCartViewModel
@if (Model != null)
{
    foreach (var item in Model.CartItems)
    {
        <tr class="cart_item">
            <td class="product-remove " style="text-align:center">
                <i class="fa fa-trash-o" aria-hidden="true" onclick="RemovePro('@item.productId')"></i>
            </td>
            <td class="product-thumbnail">
                <a href="/san-pham/@item.key" title="@item.productName"><img src="@item.productImg" alt="@item.productName"></a>
            </td>
            <td class="product-name">
                <a href="/san-pham/@item.key" title="@item.productName">@NTSPRODUCT.Models.StringClass.FormatContentNews(item.productName, 30)</a>
            </td>
            <td class="product-quantity" data-title="Số lượng">
                <div class="input-quanlity">
                    <button class="btn left" onclick="DownNumberCart('@item.productId')" type="button"><strong>-</strong></button>
                    <input style="width:40px" type="text" value="@item.count" min="1" max="100" step="1" data-id="@item.productId" id="input_@item.productId" class="quantityCart" />
                    <button class="btn right" onclick="UpNumberCart('@item.productId')" type="button"><strong>+</strong></button>
                </div>
            </td>

            <td class="product-price" data-title="Giá">
                <span class="amount">@item.price.ToString("N0")<span></span></span>
            </td>

            <td class="product-subtotal">
                <span class="amount">@item.total.ToString("N0")<span></span></span>
            </td>
        </tr>
    }
    <tr class="cart_item">
        <td colspan="5"></td>
        <td class="product-subtotal">
            <span class="amount">@Model.CartTotal.ToString("N0")<span></span></span>
        </td>
    </tr>

}
else
{

}
