@model NTSPRODUCT.Models.ShoppingCartViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="clearfix wcontent contact" style="padding:20px 0px">
                @if (Model != null)
                {
                    <div class="box-title">
                        <span>@ClassExten.GetLangKey("key_thongtindh")</span>
                        <hr>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 col-xs-12">

                        <div class="woocommerce row row-large row-divided">
                            <form class="woocommerce-cart-form" action="" method="post" style="width:100%">
                                <div class="cart-wrapper sm-touch-scroll">
                                    <table class="shop_table" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:50px"></th>
                                                <th style="width:100px">Ảnh</th>
                                                <th class="product-name" style="max-width:300px">@ClassExten.GetLangKey("key_sanpham")</th>
                                                <th class="product-quantity" width="150px">@ClassExten.GetLangKey("key_soluong")</th>
                                                <th class="product-price">@ClassExten.GetLangKey("key_gia")</th>
                                                <th class="product-subtotal">@ClassExten.GetLangKey("key_tong")</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cartContent">
                                            @Html.Action("GetList", "Carts")
                                        </tbody>
                                    </table>
                                    <div class="pull">
                                        <div class="pull-left">
                                            <a class="is-outline" href="/danh-muc/" title="@ClassExten.GetLangKey("key_tieptuc_muasp")">
                                                ← @ClassExten.GetLangKey("key_tieptuc_muasp")
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xs-12">
                        <div class="cart-collaterals">
                            <div class="cart-sidebar col-inner ">
                                <form>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12">@ClassExten.GetLangKey("key_hoten") <span>*</span></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="cartName" name="hotenlh" placeholder="@ClassExten.GetLangKey("key_hoten") .." required="required">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12">Email <span>*</span></label>
                                        <div class="col-sm-12">
                                            <input type="email" class="form-control" id="cartEmail" placeholder="Email.." required="required" name="emaillh">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12">@ClassExten.GetLangKey("key_sdt") <span>*</span></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="cartPhone" name="phone" placeholder="@ClassExten.GetLangKey("key_sdt") ..">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12">@ClassExten.GetLangKey("key_diachi") </label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="cartAddress" name="address" placeholder="@ClassExten.GetLangKey("key_diachi") ..">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12">@ClassExten.GetLangKey("key_ghichu")</label>
                                        <div class="col-sm-12">
                                            <textarea name="messagelh" class="form-control" id="cartNote" rows="5" cols="25" required="required" maxlength="800" placeholder="@ClassExten.GetLangKey("key_ghichu") .."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 ">
                                            <button type="button" onclick="AddCart()" class="btn btn-cart pull-right" style="width:100%;padding:10px 10px;text-transform:uppercase" id="btnContactUs">@ClassExten.GetLangKey("key_guidh")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box-title">
                        <span>Không có sản phẩm nào trong giỏ hàng</span>
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function RemovePro(id) {
        OpenWaiting();
        $.ajax({
            url: "/Carts/RemoveFromCart?id=" + id,
            type: "POST",
            //  data: model,
            success: function (data) {
                if (data.ok === true) {
                    toastr.success(GetNotifyByKey('delete_Cart_ok'), { timeOut: 5000 });
                    LoadCart();
                } else {
                    toastr.error(GetNotifyByKey('delete_Cart_error'), { timeOut: 5000 });
                }
                CloseWaiting();
            },
            error: function (response) {
                CloseWaiting();
                toastr.error(GetNotifyByKey('rs_Cart_error'), { timeOut: 5000 });
            }
        });
    }
    function UpdateCart(id, countToUpdate) {
        OpenWaiting();
        $.ajax({
            url: "/Carts/UpdateCartCountItem?id=" + id + '&cartCount=' + countToUpdate,
            type: "POST",
            // data: model,
            success: function (data) {
                if (data.ok === true) {
                    toastr.success(GetNotifyByKey('update_Cart_ok'), { timeOut: 5000 });
                    LoadCart();
                } else {
                    toastr.error(GetNotifyByKey('update_Cart_error'), { timeOut: 5000 });
                }
                CloseWaiting();
            },
            error: function (response) {
                CloseWaiting();
                toastr.error(GetNotifyByKey('update_Cart_error'), { timeOut: 5000 });
            }
        });
    }
    $(".quantityCart").on('keyup', function () {
        var id = $(this).attr("data-id");
        //Set quantity number to 0 if input value is empty
        var countToUpdate = $(this).val();
        if (countToUpdate == '') {
            countToUpdate = '1';
        }
        if (isNaN(countToUpdate)) {
            countToUpdate = '1';
        }
        UpdateCart(id, countToUpdate);
    });
    function DownNumberCart(id) {
        var numberPro = parseInt($('#input_' + id).val());
        if (numberPro != 1) {
            numberPro--;
            UpdateCart(id, numberPro);
        }

    }
    function UpNumberCart(id) {
        var numberPro = parseInt($('#input_' + id).val());
        if (numberPro < 100) {
            numberPro++;
            UpdateCart(id, numberPro);
        }

    }
    function LoadCart() {
        OpenWaiting();
        $.post("/Carts/GetList", function (result) {
            $("#cartContent").html(result);
            CloseWaiting();
        });
    }
</script>

<style>
    #btnContactUs:hover {
        background: #08481e !important;
        color: white
    }
    .shop_table .cart_item img {
        width: 70px;
        border-radius: 5px;
        object-fit: cover;
    }

    .btn-cart {
        background: #1da64c;
        color: white
    }

    .product-remove i {
        color: red;
        cursor: pointer
    }

    table.shop_table {
        width: 100%;
        margin-bottom: 1em;
        border-color: #ececec;
        border-spacing: 0;
    }

    .shop_table th {
        border-bottom: 1px solid #ececec;
        padding: .5em;
        text-align: left;
        background: #ece9e9;
    }

    span.amount {
        white-space: nowrap;
        color: #111;
        font-weight: bold;
    }

    .input-quanlity input {
        padding: 4px;
        text-align: center;
    }

    .order_products {
        border-top: 1px solid #ebebeb;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        background: #fa0001;
        transition: all ease .5s;
        position: relative;
        margin: 13px 0;
    }
</style>