@model NTSPRODUCT.Models.News
@{
    ViewBag.Title = "Administrator - Thêm mới tin tức";
    ViewBag.controller = "Thêm mới tin tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <!-- general form elements -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Thông tin chung</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Cấu hình seo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Nhóm tin</label>
                                    <select name="cateId" id="cateId" class="form-control" required>
                                        @Html.Action("GetCateForProduct", "ImportView", new { type = ClassExten.typeNew })
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Thứ tự</label><span class="text-red">(*)</span>
                                    <input type="number" value="@Model.newOrder" class="form-control " name="newOrder" required="required" />
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="display-block">Hiển thị</label>
                                    <label class="switch">
                                        <input type="checkbox" name="newStatus" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="display-block">Tin hot</label>
                                    <label class="switch">
                                        <input type="checkbox" name="newHot" @(Model.newHot == Constants.Checked ? "checked" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2" >
                                <div class="form-group">
                                    <label class="display-block">Tin mới trang chủ</label>
                                    <label class="switch">
                                        <input type="checkbox" name="newNew" @(Model.newNew == Constants.Checked ? "checked" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ảnh</label>
                                    <input type="text" value="@Model.newImage" maxlength="256" class="form-control " name="img" id="img" placeholder="Chọn ảnh" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>File đính kèm</label>
                                    <input type="text" value="@Model.newFile" maxlength="256" class="form-control " name="newFile" id="newFile" placeholder="File đính kèm" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Tiêu đề</label><span class="text-red">(*)</span>
                            <textarea name="newTitle" maxlength="800" id="newTitle" placeholder="Tiêu đề..." class="form-control" rows="2" required>@Model.title</textarea>
                        </div>
                        <div class="form-group">
                            <label>Url tin</label><span class="text-red">(*)</span>
                            <input name="new_key" maxlength="800" id="new_key" value="@Model.new_key" placeholder="Url tin.." class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Mô tả ngắn</label>
                            <textarea name="newDescription" maxlength="800" placeholder="Nội dung mô tả..." class="form-control" rows="3">@Model.descript</textarea>
                        </div>
                        <div class="form-group">
                            <label>Nội dung</label>
                            @Html.TextAreaFor(u => u.contents)
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <div class="form-group">
                            <label>Tile seo </label>
                            <textarea name="titleSeo" placeholder="Tile seo" class="form-control" maxlength="800" rows="2">@Model.titleSeo</textarea>
                        </div>
                        <div class="form-group">
                            <label>Keyword seo </label>
                            <textarea name="keySeo" placeholder="Keyword seo" class="form-control" maxlength="800" rows="2">@Model.keySeo</textarea>
                        </div>
                        <div class="form-group">
                            <label>Description seo </label>
                            <textarea name="desSeo" placeholder="Description seo" class="form-control" maxlength="800" rows="2">@Model.desSeo</textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="hidden" id="addType" name="addType" value="0" />
                    <input type="submit" hidden id="news-Submit" />
                    <button type="button" onclick="addNomal()" class="btn btn-primary  margin-r-5"><i class="glyphicon glyphicon-floppy-save"></i> Lưu lại</button>
                    <button type="button" onclick="addContinue()" class="btn btn-primary  margin-r-5"><i class="glyphicon glyphicon-floppy-save"></i> Lưu và tiếp tục</button>
                    <a href="/News/Index" class="btn btn-default"><i class="fa fa-mail-reply-all"></i> Trở về</a>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.box -->
            <!--/.col (left) -->
        </div>
    </div>
}

@if (Session["erro"] != null)
{
    <script type="text/javascript">
        toastr.error('@Session["erro"].ToString()');
    </script>
}
@if (Session["erro"] != null) { Session["erro"] = null; }

@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }
<script type="text/javascript">
    $('#newTitle').on('keyup', function () {
        $.ajax({
            url: "/News/GenNewKey?name=" + $('#newTitle').val(),
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    $('#new_key').val(data.rs);
                }
            },
            error: function (response) {

            },
        });
    });
    $('#newTitle').on('change', function () {
        $.ajax({
            url: "/News/GenNewKey?name=" + $('#newTitle').val(),
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    $('#new_key').val(data.rs);
                }
            },
            error: function (response) {

            },
        });
    });

    function CheckKey() {
        var id = '';
        var new_key = $('#new_key').val();
        if (new_key == '' || new_key == ' ') {
            toastr.error("Chưa nhập url tin", { timeOut: 5000 }); return;
        }
        var model = {
            id: id,
            new_key: new_key
        };
        OpenWaiting();
        $.ajax({
            url: "/News/CheckKeyCreate",
            type: "POST",
            data: model,
            success: function (data) {
                CloseWaiting();
                if (data.ok === 2) {
                    toastr.error('Url tin đã tồn tại', { timeOut: 5000 }); return;
                } else if (data.ok === 3) {
                    toastr.error('Đã xảy ra lỗi vui lòng thử lại', { timeOut: 5000 }); return;
                } else {
                    $('#news-Submit').click();
                }
            },
            error: function (response) {
                CloseWaiting();
                toastr.error("Đã xảy ra lỗi!", { timeOut: 5000 });
            },
        });
    }
    function addNomal() {
        $('#addType').val('0');
        CheckKey();
    }
    function addContinue() {
        $('#addType').val('1');
        CheckKey()
    }
    //trình soạn thảo
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }
    $(function () {
        createEditor('vi', 'contents');

    });
    //up ảnh
    $(function () {
        $("#img").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#img").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#newFile").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#newFile").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
