<ul class="option">
    <li id="search" class="search">
        <form method="post" action="/SanPham/Timten">
            <input class="search-submit" type="submit" id="btsearch" value=""><input class="search-input" placeholder="Enter your search term..." type="text"  name="search" required="required"></form>
    </li>
    <li class="option-cart">
        <a href="#" class="cart-icon">cart <span class="cart_no">02</span></a>
        <ul class="option-cart-item">
            @if (Session["ShoppingCart"] != null)
            {
                                   
                               
                foreach (var item in Model.CartItems)
                {
<li>
                                    <div class="cart-item">
                                       <div class="image"><img src="@item.productImg" alt="@item.productName"></div>
                                       <div class="item-description">
                                          <p class="name">@item.productName</p>
                                          <p>Quantity: <span class="light-red">@item.count</span></p>
                                       </div>
                                       <div class="right">
                                          <p class="price">@item.total</p>
                                          <a href="#" class="remove"><img src="~/Content/images/remove.png" alt="remove"></a>
                                       </div>
                                    </div>
                                 </li>

                }
            }
             @if (Session["ShoppingCart"] != null)
            {
            <li><span class="total">Total <strong>@Model.CartTotal</strong></span>
                <button class="checkout" onclick="location.href='/Carts/'">CheckOut</button></li>
             }
             @if (Session["ShoppingCart"] == null)
             { 
             <li><span class="total">0 sản phẩm trong giỏ hàng</span> 
             </li>
             }
        </ul>
    </li>
</ul>
