@model IList<NTSPRODUCT.Models.Menu>
@{ int index = ViewBag.Index; string strCap = "";}
<div class="col-sm-12" style="overflow-x:auto">
    <table class="table table-bordered table-hover" style="min-width:1000px">
        <thead>
            <tr>
                <th width="50px" class="text-center">STT</th>
                <th width="130px">Chức năng</th>
                <th>Tên menu</th>
                <th width="200px">Menu cha</th>
                <th width="160px">Vị trí</th>
                <th width="160px">Loại menu</th>
                <th width="110px">Thứ tự</th>
                <th width="130px">Hiển thị</th>

            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                index++;
                strCap = "";
                for (int j = 1; j < Model[i].mcap; j++)
                {
                    strCap += "==";
                }
                strCap += strCap.Length == 0 ? "" : ">";
            <tr>
                <td class="text-center">@index</td>
                <td>
                    <a href="/Menus/Update/@Model[i].id"><span class="fa fa-edit" title="Sửa"></span>Sửa</a> |
                    <a href="#" onclick="DeleteConfim('@Model[i].id')" title="Xóa"><span class="fa fa-trash-o"></span> Xóa</a>
                </td>
                <td>@strCap @Model[i].name</td>
                <td>@ClassExten.GetMenuCha(Model[i].par_id)</td>
                @if (Model[i].mPosition == 1)
                {
                    <td>Menu trên</td>
                }
                else
                {
                    <td>Menu dưới</td>
                }
                @if (Model[i].mtype == 1)
                {
                    <td>Menu link</td>
                }
                else if (Model[i].mtype == 2)
                {
                    <td>Menu nội dung</td>
                }
                else
                {
                    <td>Menu liên kết</td>
                }
                <td>
                    <input type="number" style="width:60px" value="@Model[i].mOrder" alt="@Model[i].id" class="mOrderChange" />
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeStatus('@Model[i].id')" @(Model[i].active == true ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>

            </tr>
            }
        </tbody>

    </table>
</div>
<div class="col-sm-5">
    <div class="form-group">
        <div class="controls">
            <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <span>bản ghi/Trang</span>
        </div>
    </div>
</div>
<div class="col-sm-7">
    @Html.Raw(ViewBag.pages)
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);

    $('.mOrderChange').change(function (e) {
        var number = $(this).val();
        var id = $(this).attr('alt');
        OpenWaiting();
        $.ajax({
            url: "/Menus/ChangeOrder?id=" + id + '&mOrder=' + number,
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    toastr.success('Cập nhật thứ tự ưu tiên thành công', { timeOut: 5000 });
                } else {
                    toastr.error(data.mess, { timeOut: 5000 });
                }
            },
            error: function (response) {
                toastr.error("Đã xảy ra lỗi!", { timeOut: 5000 });
            },
        });
        CloseWaiting();
    });

</script>
