@model IList<NTSPRODUCT.Models.News>
@{ int index = ViewBag.Index;}
<div class="col-sm-12" style="overflow-x:auto">
    <table class="table table-bordered table-hover" style="min-width:1200px">
        <thead>
            <tr>
                <th width="50px" class="text-center">STT</th>
                <th width="90px" class="text-center">Chức năng</th>
                <th width="80px" class="text-center">Ảnh</th>
                <th>Tiêu đề</th>
                <th width="250px">Nhóm tin</th>
                <th width="60px">Thứ tự</th>

                <th width="80px">Cập nhật</th>
                <th width="85px">Hiển thị</th>
                <th width="90px" class="text-center">Tin ảnh</th>
                <th width="110px" class="text-center">Tin mới</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                index++;
            <tr>
                <td class="text-center">@index</td>
                <td class="text-center">
                    <a href="/News/Update/@item.id" title="Sửa"><span class="fa fa-edit font18"></span> </a>
                    <a href="javascript:void(0)" onclick="DeleteConfim('@item.id')" title="Xóa"><span class="fa fa-trash-o font18"></span> </a>
                </td>
                <td class="text-center"><img class="avata-admin" src="@item.newImage" /></td>
                <td>@item.title</td>
                <td>@(item.Category!=null?item.Category.cateName:"")</td>
                <td>
                    <input type="number" style="width:60px" value="@item.newOrder" alt="@item.id" class="newsOrderChange" />
                </td>
                <td>@item.createDate.Value.ToString("dd/MM/yyyy")</td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeStatus('@item.id')" @(item.status == Constants.Active ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeNewHot('@item.id')" @(item.newHot == Constants.Checked ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeNewNew('@item.id')" @(item.newNew == Constants.Checked ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            }

        </tbody>

    </table>
</div>
<div class="col-sm-5">
    <div class="form-group">
        <div class="controls">
            <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <span>bản ghi/Trang</span>
        </div>
    </div>
</div>
<div class="col-sm-7">
    @Html.Raw(ViewBag.pages)
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);

    $('.newsOrderChange').change(function (e) {
        var number = $(this).val();
        var id = $(this).attr('alt');

        $.ajax({
            url: "/News/ChangeOrder?id=" + id + '&newOrder=' + number,
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    toastr.success('Cập nhật thứ tự ưu tiên thành công', { timeOut: 5000 });
                } else {
                    toastr.error(data.mess, { timeOut: 5000 });
                }
            },
            error: function (response) {
                toastr.error("Đã xảy ra lỗi!", { timeOut: 5000 });
            },
        });

    });
</script>