@model IList<NTSPRODUCT.Models.Product>
@{
    var SayWe = (List<NTSPRODUCT.Models.SayWe>)ViewBag.SayWe;

    //  var proHome = (List<NTSPRODUCT.Models.Product>)ViewBag.proHome;
    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    var isMobile = Request.Browser.IsMobileDevice;


}
@Html.Action("NavMenu", "ChildView")
<div class="list-prodcut-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="pro-title">
                    <h3>Thực phẩm các loại</h3>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pro-home">
                        <div class="pro-img">
                            <a href="/san-pham/@item.pro_key" title="@item.pro_name"><img src="@item.proAvata" alt="@item.pro_name"></a>
                        </div>
                        <div class="pro-name">
                            <a href="/san-pham/@item.pro_key" title="@item.pro_name">@item.pro_name</a>
                        </div>
                        <div class="pro-price">
                            <span>@((item.proPrice_sale!=null && item.proPrice_sale!=0)? item.proPrice_sale.Value.ToString("N0"):"Liên hệ" )</span>
                            <span>@item.brank</span>
                        </div>
                        <div class="pro-sub">
                            <a href="/san-pham/@item.pro_key" title="@item.pro_name">Chọn mua</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="y-ken">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="video-home">
                    @Html.Raw(conf.homeVideo)
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="y-kien-right">
                    <div class="pro-title">
                        <h3>Ý kiến khách hàng</h3>
                    </div>
                    <div class="y-kien-contet">
                        <div class="row">
                            @foreach (var item in SayWe)
                            {
                                <div class="yk-item">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="yk-img">
                                            <span><img src="@item.avata" alt="@item.fullName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="k-cont">
                                            <p class="cont">@item.contents</p>
                                            <p class="cont-name">@item.fullName - @item.addresss</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

