@model IList<NTSPRODUCT.Models.ProductModel>
@{
    //var proSale = (List<NTSPRODUCT.Models.Product>)ViewBag.proSale;
    //var proBanChay = (List<NTSPRODUCT.Models.Product>)ViewBag.proBanChay;

    // var SayWe = (List<NTSPRODUCT.Models.SayWe>)ViewBag.SayWe;
    var newsHot = (List<NTSPRODUCT.Models.News>)ViewBag.newsHot;
    var videos = (List<NTSPRODUCT.Models.Adv>)ViewBag.videos;

    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    var isMobile = Request.Browser.IsMobileDevice;
    float pt = 0;

}
@Html.Action("NavMenu", "ChildView")

<div class="list-prodcut-home">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="news-left">
                    <h4 class="menu-content">Tin tức</h4>
                    @foreach (var item in newsHot)
                    {
                        <div class="item-news">
                            <a class="news-img" href="/tin/@item.new_key" title="@item.title"><img src="@item.newImage" alt="@item.title"></a>
                            <a class="news-nanme" href="/tin/@item.new_key" title="@item.title">@NTSPRODUCT.Models.StringClass.FormatContentNews(item.title, 35)</a>
                            <div class="news-time">
                                <span><i class="fa fa-calendar"></i> @item.createDate.Value.ToString("dd/MM/yyyy HH:mm")</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">

                @if (Model != null && Model.Count > 0)
                {
                    foreach (var itemHome in Model)
                    {
                        if (itemHome.pro != null && itemHome.pro.Count > 0)
                        {
                            <div class="pro-home">
                                <div class="titles">
                                    <a href="/danh-muc/@itemHome.cate.cateKey" title="@itemHome.cate.cateName">
                                        <span>@itemHome.cate.cateName</span>
                                    </a>
                                    <span class="pull-right readmore-index"><a href="/danh-muc/@itemHome.cate.cateKey" title="@itemHome.cate.cateName"> &gt;&gt; Xem thêm</a></span>
                                </div>
                                <div class="product-wrapper">
                                    <div class="row">
                                        @foreach (var item in itemHome.pro)
                                        {

                                            <div class="col-md-3 col-xs-6 col-sm-6">
                                                <div class="product-item">
                                                    <div class="image">
                                                        <a href="/san-pham/@item.pro_key" title="@item.pro_name" data-toggle="tooltip">
                                                            <img class="main_img" src="@item.proAvata" alt="@item.pro_name">
                                                        </a>
                                                        @if (item.pro_hot == true && item.pro_sale == false)
                                                        {
                                                            <div class="tag_icon">
                                                                <img src="~/Content/CssSite/images/icon-sphot.png" height="26px" alt="Sản phẩm hot">
                                                            </div>
                                                        }
                                                        else if (item.pro_sale == true && item.pro_hot == false)
                                                        {
                                                            <div class="tag_icon">
                                                                <img src="~/Content/CssSite/images/icon-km.png" height="26px" alt="Sản phẩm hot">
                                                            </div>
                                                        }
                                                        else if (item.pro_sale == true && item.pro_hot == true)
                                                        {
                                                            <div class="tag_icon">
                                                                <img src="~/Content/CssSite/images/icon-km.png" height="26px" alt="Sản phẩm hot">
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="name" style="height: 55px;">
                                                        <a href="/san-pham/@item.pro_key" title="@item.pro_name">@item.pro_name</a>
                                                    </div>
                                                    <div class="price" style="float:left">
                                                        <em>
                                                            @((item.proPrice_sale!=null && item.proPrice_sale!=0)? item.proPrice_sale.Value.ToString("N0"):"Liên hệ" )
                                                            <span class="variant_title">/@item.brank</span>
                                                        </em>
                                                    </div>
                                                    @if (item.proPrice_sale != null && item.proPrice != null && item.proPrice != 0 && item.proPrice != item.proPrice_sale)
                                                    {
                                                        pt = (item.proPrice.Value - item.proPrice_sale.Value) * 100 / item.proPrice.Value;
                                                        <div class="price-old1">@item.proPrice.Value.ToString("N0")</div>
                                                        <div class="sale">-@(Math.Round(pt,0))%</div>
                                                    }

                                                    <div class="addcart addcart-collection">
                                                        <a href="/san-pham/@item.pro_key" title="@item.pro_name">
                                                            <button class="addtocart addcartcollection" type="button">
                                                                THÊM VÀO GIỎ <i class="fa fa-shopping-cart" style="font-size:18px;color:#1bb522"></i>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="y-ken">
    <div class="container">
        <div class="titles">
            <a href="/video" title="Kênh Youtube Tanson Foods">
                <span style="color:red">Kênh Youtube Tanson Foods</span>
            </a>
            <span class="pull-right readmore-index"><a href="/video" title="Kênh Youtube Tanson Foods"> &gt;&gt; Xem thêm</a></span>
        </div>

        <div class="list-video">

            <div class="col-md-12 col-xs-12">
                <div id="owl-video-home" class="owl-carousel owl-theme">
                    @foreach (var item in videos)
                    {
                        <div class="item">
                            <div class="video">
                                <iframe allowfullscreen="1" frameborder="0" height="315" src="//www.youtube.com/embed/@ClassExten.GetIdVideo(item.advLink)?rel=0" width="100%">
                                </iframe>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="row intro-fanpage">
            <div class="col-md-9 col-xs-12">
                <div class="about-home">
                    <div class="about-head">
                        <h4 class="ab-title">Về chúng tôi</h4>
                    </div>
                    <div class="about-conten">
                        @Html.Raw(conf.infoPage)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="fapage">
                    @{ string fb = "<iframe allow='encrypted - media' allowtransparency='true' frameborder='0' height='250' scrolling='no' src='https://www.facebook.com/plugins/page.php?href=" + conf.faceBook + "%2F&amp;tabs=timeline&amp;width=262&amp;height=270&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId' style='border:none;overflow:hidden' width='100%'></iframe>";}
                    @Html.Raw(fb)
                </div>
            </div>

        </div>
    </div>
</div>

