@model IList<NTSPRODUCT.Models.Category>
@{

    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    var menu = (List<NTSPRODUCT.Models.Menu>)ViewBag.menu;
    var slide = (List<NTSPRODUCT.Models.Slide>)ViewBag.slide;
    var advRight = (List<NTSPRODUCT.Models.Adv>)ViewBag.advRight;
    var sologan = (List<NTSPRODUCT.Models.WhyChooseUss>)ViewBag.sologan;
    bool isHome = ViewBag.isHome;
    var cateParent = Model.Where(u => u.catepar_id.Equals(ClassExten.cateParent)).OrderBy(u => u.cateOrder).ToList();
    var cateChild = Model.Where(u => !u.catepar_id.Equals(ClassExten.cateParent)).ToList();
    var isMobile = Request.Browser.IsMobileDevice;
}

<div class="nav-top">
    <div class="nav-destop">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12 left-top">

                </div>
                <div class="col-md-9 col-xs-12">
                    <div class="row">
                        <div class="nav-right-slide-top">
                            <div class="col-md-9 col-xs-12 slide-left">
                                <div class="slide-top">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            @for (int i = 0; i < slide.Count; i++)
                                            {
                                                <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                            }
                                        </ol>
                                        <div class="carousel-inner">
                                            @for (int i = 0; i < slide.Count; i++)
                                            {
                                                <div class="carousel-item @(i==0?"active":"")">
                                                    <img class="d-block w-100" src="@slide[i].images" alt="@slide[i].name">
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12 slide-right">
                                <div id="owl-slide-right" class="owl-carousel owl-theme">
                                    @foreach (var item in advRight)
                                    {
                                        <div class="item">
                                            <div class="baner-right">
                                                <a href="@item.advLink" title="@item.advName"><img src="@item.advImage" alt="@item.advName" width="100%"></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="about-bottom">
                            @foreach (var item in sologan)
                            {
                                <div class="col-md-3 col-xs-12">
                                    <div class="ab-1">
                                        <span><img src="@item.image" alt="@item.title"></span>
                                        <span class="ab-text">@item.title</span>
                                        <span class="ab-text sub">@item.contents</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (isMobile)
{
    <div class="menu-mobile desktop-none">
        <a id="toggle" href="#"><i class="fa fa-bars"></i></a>
        <div id="overlay"></div>
        <nav id="menu">
            <ul>
                @foreach (var item in cateParent)
                {
                    <li>
                        <a href="/danh-muc/@item.cateKey" title="@item.cateName">@item.cateName</a>
                        @Html.Raw(ClassExten.GetCateNewChildMobile(item.id, cateChild))
                    </li>
                }
            </ul>
        </nav>
    </div>
}
