@{
    ViewBag.Title = "Administrator - Thêm sản phẩm";
    ViewBag.controller = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    // List<NTSPRODUCT.Models.Tagpro> tags = ViewBag.tags;
}
@using (Html.BeginForm())
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">

            <!-- general form elements -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Thông tin chung</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Hình ảnh</a></li>
                    <li><a href="#tab_3" data-toggle="tab" style="display:none">Thẻ Tag</a></li>
                    <li><a href="#tab_4" data-toggle="tab">Cấu hình seo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tên sản phẩm</label><span class="text-red">(*)</span>
                                    <input type="text" class="form-control " maxlength="800" name="proName" id="proName" placeholder="Tên sản phẩm" required="required" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mã sản phẩm</label>
                                    <input type="text" class="form-control " maxlength="200" name="proCode" id="proCode" placeholder="Mã sản phẩm" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Danh mục</label>
                                    <select name="cateId" id="cateId" required class="form-control">
                                        @Html.Action("GetCateForProduct", "ImportView", new { type = ClassExten.typePro })
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Url</label>
                                    <input type="text" class="form-control " placeholder="Url sản phẩm" maxlength="800" id="pro_key" name="pro_key" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>File đính kèm</label>
                                    <input type="text" class="form-control " placeholder="File đính kèm" value="" maxlength="400" id="proFile" name="proFile" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Giá gốc</label><span class="text-red">(*)</span>
                                    <input type="number" value="0" class="form-control " name="price" required="required" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Giá KM</label><span class="text-red">(*)</span>
                                    <input type="number" value="0" class="form-control " name="priceSale" required="required" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Thương hiệu</label>
                                    <select name="brandId" id="brandId" required class="form-control">
                                        @Html.Action("GetBrank", "ImportView")
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Thứ tự</label><span class="text-red">(*)</span>
                                    <input type="number" value="1" class="form-control " name="proOrder" required="required" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="display-block">Hiển thị</label>
                                    <label class="switch">
                                        <input type="checkbox" name="proStatus" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                         
                        </div>
                        <div class="form-group">
                            <label>Giới thiệu ngắn</label>
                            @Html.TextArea("prodescription")
                        </div>
                        <div class="form-group">
                            <label>Chi tiết</label>
                            @Html.TextArea("proContentTab1")
                        </div>
                        <div class="form-group">
                            <label> Thông số kỹ thuật</label>
                            @Html.TextArea("proContentTab2")
                        </div>
                        <div class="form-group">
                            <label> Công nghệ</label>
                            @Html.TextArea("proContentTab3")
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="form-group">
                            <label>Ảnh đại diện </label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata" id="proAvata" placeholder="Chọn ảnh" />
                        </div>
                        <div class="form-group">
                            <label>Ảnh số 1</label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata1" id="proAvata1" placeholder="Chọn ảnh" />
                        </div>
                        <div class="form-group">
                            <label>Ảnh số 2</label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata2" id="proAvata2" placeholder="Chọn ảnh" />
                        </div>
                        <div class="form-group">
                            <label>Ảnh số 3</label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata3" id="proAvata3" placeholder="Chọn ảnh" />
                        </div>
                        <div class="form-group">
                            <label>Ảnh số 4</label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata4" id="proAvata4" placeholder="Chọn ảnh" />
                        </div>
                        <div class="form-group">
                            <label>Ảnh số 5</label>
                            <input type="text" class="form-control csinput" maxlength="250" name="proAvata5" id="proAvata5" placeholder="Chọn ảnh" />
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3" style="display:none">
                      
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <div class="form-group">
                            <label>Tile seo </label>
                            <textarea type="text" class="form-control" rows="2" maxlength="800" name="titleSeo" placeholder="Tile seo"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Keyword seo </label>
                            <textarea type="text" class="form-control" rows="2" maxlength="800" name="keySeo" placeholder="Keyword seo"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Description seo </label>
                            <textarea type="text" class="form-control" rows="2" maxlength="800" name="desSeo" placeholder="Description seo"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="hidden" id="addType" name="addType" value="0" />
                    <input type="submit" hidden id="news-Submit" />
                    <button type="button" onclick="addNomal()" class="btn btn-primary  margin-r-5"><i class="glyphicon glyphicon-floppy-save"></i> Lưu lại</button>
                    <button type="button" onclick="addContinue()" class="btn btn-primary  margin-r-5"><i class="glyphicon glyphicon-floppy-save"></i> Lưu và tiếp tục</button>
                    <a href="/Prodcuts/Index" class="btn btn-default"><i class="fa fa-mail-reply-all"></i> Trở về</a>
                    <br />
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- /.box -->
        </div>
    </div>
}
@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }

@if (Session["erro"] != null)
{
    <script type="text/javascript">
        toastr.error('@Session["erro"].ToString()');
    </script>
}
@if (Session["erro"] != null) { Session["erro"] = null; }
<script type="text/javascript">
    $('#proName').on('keyup', function () {
        $.ajax({
            url: "/Home/GenKey?name=" + $('#proName').val(),
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    $('#pro_key').val(data.rs);
                }
            },
            error: function (response) {

            },
        });
    });
    $('#proName').on('change', function () {
        $.ajax({
            url: "/Home/GenKey?name=" + $('#proName').val(),
            type: "POST",
            success: function (data) {
                if (data.ok === true) {
                    $('#pro_key').val(data.rs);
                }
            },
            error: function (response) {

            },
        });
    });


    function CheckKey() {
        var id = '';
        var pro_key = $('#pro_key').val();
        if (pro_key == '' || pro_key == ' ') {
            toastr.error("Chưa nhập url sản phẩm", { timeOut: 5000 }); return;
        }
        var model = {
            id: id,
            pro_key: pro_key
        };
        OpenWaiting();
        $.ajax({
            url: "/Prodcuts/CheckKeyCreate",
            type: "POST",
            data: model,
            success: function (data) {
                CloseWaiting();
                if (data.ok === 2) {
                    toastr.error('Url sản phẩm đã tồn tại', { timeOut: 5000 }); return;
                } else if (data.ok === 3) {
                    toastr.error('Đã xảy ra lỗi vui lòng thử lại', { timeOut: 5000 }); return;
                } else {
                    $('#news-Submit').click();
                }
            },
            error: function (response) {
                CloseWaiting();
                toastr.error("Đã xảy ra lỗi!", { timeOut: 5000 });
            },
        });
    }
    function addNomal() {
        $('#addType').val('0');
        CheckKey();
    }
    function addContinue() {
        $('#addType').val('1');
        CheckKey()
    }

    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }
    $(function () {
        createEditor('vi', 'proContentTab1');
        createEditor('vi', 'proContentTab2');
        createEditor('vi', 'proContentTab3');
        createEditor('vi', 'prodescription');
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#proFile").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proFile").val(fileUrl);
            };
            finder.popup();
        });
    });
    
    $(function () {
        $("#proAvata").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#proAvata1").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata1").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#proAvata2").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata2").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#proAvata3").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata3").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#proAvata4").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata4").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#proAvata5").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#proAvata5").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>

