@model IList<NTSPRODUCT.Models.News>
@{
    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    var cateP = (NTSPRODUCT.Models.Category)ViewBag.cateP;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="rows">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb" itemscope="">
                    <li class="home">
                        <a itemprop="url" href="/" title="@ClassExten.GetLangKey("home")"><span itemprop="title">@ClassExten.GetLangKey("home")</span></a>
                        <span class="mr_lr">&nbsp;<i class="fa fa-caret-right"></i>&nbsp;</span>
                    </li>
                    @if (cateP != null)
                    {
                        <li class="home">
                            <a itemprop="url" href="/nhom-dich-vu" title="Dịch vụ"><span itemprop="title">Dịch vụ</span></a>
                            <span class="mr_lr">&nbsp;<i class="fa fa-caret-right"></i>&nbsp;</span>
                        </li>
                        <li><strong><span itemprop="title">@cateP.cateName</span></strong></li>
                    }
                    else
                    {
                        <li><strong><span itemprop="title">Dịch vụ</span></strong></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="page-detail">
    <div class="container">
        <div class="row">
            @Html.Action("PageNewLeft", "ChildView", new { lang = ViewBag.lang })
            <div class="col-md-9 col-xs-12 col-lg-9">
                <div class="row">
                    @if (cateP != null)
                    {
                        <div class="page-detail-text">
                            @Html.Raw(cateP.cateDescription)
                            <hr />
                        </div>
                    }
                    <section class="list-blogs blog-main flex-margin-20">
                        @foreach (var item in Model)
                        {
                            <article class="blog-item">
                                <div class="blog-item-thumbnail">
                                    <a href="/dich-vu/@item.new_key" title="@item.title">
                                        <img src="@item.newImage" style="max-width:100%;" class="img-responsive" alt="@item.title">
                                    </a>
                                </div>
                                <div class="date">
                                    <p>
                                        @("T" + item.createDate.Value.ToString("MM"))
                                    </p>
                                    <p>
                                        @item.createDate.Value.ToString("dd")
                                    </p>
                                </div>
                                <div class="blog-item-info">
                                    <a href="/dich-vu/@item.new_key" title="@item.title">
                                        <h3 class="blog-item-name">@item.title</h3>
                                    </a>
                                    <p class="blog-item-summary margin-bottom-5">@NTSPRODUCT.Models.StringClass.FormatContentNews(item.descript, 100)</p>
                                </div>
                            </article>
                        }
                    </section>
                </div>
                <nav aria-label="Page navigation example">
                    @Html.Raw(ViewBag.pages)
                </nav>
            </div>
        </div>
    </div>
</section>