@model IList<NTSPRODUCT.Models.Adv>
@{
    var teacher = (List<NTSPRODUCT.Models.Teacher>)ViewBag.teacher;
}
<div class="class-course pt-5 pb-5">
    <div class="container">
        <div class="title-portfolio">
            <h3 class="font-taviraj">@ClassExten.GetLangKey("key_imgkh")</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div id="owl-class-course" class="owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="course-slide">
                                <a href="#"><img alt="@item.advName" src="@item.advImage"></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lecturers pb-5">
    <div class="container">
        <div class="title-portfolio">
            <h3 class="font-taviraj">@ClassExten.GetLangKey("key_ttgiangvien")</h3>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div id="owl-lecturers" class="owl-carousel owl-theme">
                    @foreach (var item in teacher)
                    {
                        <div class="item">
                            <div class="lecturers">
                                <a href="/xem-giang-vien/@item.tkey" title="@item.name"><img alt="@item.name" src="@item.avata"></a>
                                <div class="lecturers-title">
                                    <a href="/xem-giang-vien/@item.tkey" title="@item.name" class="font-taviraj">@item.name</a>
                                    <div class="info">
                                      @ClassExten.GetLangKey("key_chuyenmon"): <span class="font-taviraj">@item.title</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
