@model IList<NTSPRODUCT.Models.CustomerExten>
@{ int index = ViewBag.Index; string strCap = "";}
<div class="col-sm-12">
    <table class="table table-bordered table-hover" style="min-width:1000px">
        <thead>
            <tr>
                <th width="50px" class="text-center">STT</th>
                <th width="120px" class="text-center">Chức năng</th>
                <th width="200px" class="text-center">Khách hàng</th>
                <th width="200px" class="text-center">Mã giới thiệu</th>
                <th width="120px">Số điện thoại</th>
                <th width="150px">Email</th>
                <th width="130px">Địa chỉ</th>
                <th width="150px">Tiền</th>
                <th width="80px" class="text-center">Mã GT</th>
                <th width="80px" class="text-center">Trạng thái</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                index++;
                strCap = "";
                for (int j = 0; j < item.Level; j++)
                {
                    strCap += "==";
                }
                strCap += strCap.Length == 0 ? "" : ">";

                index++;
            <tr>
                <td class="text-center">@index</td>
                <td class="text-center">
                    <a href="javascript:void(0)" onclick="ShowOnResetPass('@item.id');" title="Reset mật khẩu"><span class="fa fa-refresh font18"></span> </a>
                    <a href="javascript:void(0)" onclick="ShowUpdateCustomers('@item.id');" title="Sửa"><span class="fa fa-edit font18"></span> </a>
                    <a href="javascript:void(0)" onclick="DeleteConfim('@item.id')" title="Xóa"><span class="fa fa-trash-o font18"></span> </a>
                </td>
                <td>
                    @strCap
                    @item.fullName
                </td>
                <td>@item.referralCode</td>
                <td>@item.phone</td>
                <td>@item.email</td>
                <td>@item.addresss</td>
                <td>@item.amount.Value.ToString("N0")</td>
                @*<td>
            @if (item.type == 0)
            {
                <span>Đăng ký</span>
            }
            else if (item.type == 1)
            {
                <span>Facebook</span>
            }
            else
            {
                <span>Google</span>
            }

        </td>*@
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeStatusCode('@item.id','@(item.activeCode==true?false:true)','@item.activeAcount.ToString()')" @(item.activeCode == Constants.Checked ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeStatus('@item.id','@item.activeCode.ToString()','@(item.activeAcount==false?true:false)')" @(item.activeAcount == Constants.Checked ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>

            </tr>
            }

        </tbody>

    </table>
</div>
<div class="col-sm-5">
    <div class="form-group">
        <div class="controls">
            <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="80">80</option>
                <option value="100">100</option>
            </select>
            <span>bản ghi/Trang</span>
        </div>
    </div>
</div>
<div class="col-sm-7">
    @Html.Raw(ViewBag.pages)
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);
</script>

