@model NTSPRODUCT.Models.Config
@{
    /**/

    ViewBag.Title = "Administrator - Cấu hình website";
    ViewBag.controller = "Cấu hình website";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Cấu hình chung</a></li>
                    <li><a href="#tab_2" data-toggle="tab"> Cấu hình sản phẩm, tin tức</a></li>
                    <li><a href="#tab_6" data-toggle="tab">Cấu hình mạng xã hội</a></li>
                    <li><a href="#tab_5" data-toggle="tab">Cấu hình seo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên công ty</label>
                                        <input type="text" class="form-control csinput" name="shopname" maxlength="350" placeholder="Chào mừng.." value="@Model.shopName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số phone</label>
                                        <input type="text" class="form-control csinput" maxlength="250" name="phone" placeholder="Số phone" value="@Model.phone" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zalo chat</label>
                                        <input type="text" class="form-control csinput" maxlength="750" name="zaloChat" placeholder="Zalo chat.." value="@Model.zaloChat" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Skype chat</label>
                                        <input type="text" class="form-control csinput" name="fbChat" maxlength="750" placeholder="Skype chat.." value="@Model.fbChat" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số hot line(Nhiều SĐT phân tách nhau bởi ';' VD:0964xxx;0956xxx)</label>
                                        <input type="text" class="form-control csinput" maxlength="250" name="hotLine" placeholder="Phân tách dấu ';' giữa các SĐT" value="@Model.hotLine" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bản quyền</label>
                                        <input type="text" class="form-control csinput" name="fax" maxlength="250" placeholder="Bản quyền.." value="@Model.fax" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email nhận tin</label>
                                        <input type="email" class="form-control csinput" name="emailn" maxlength="50" placeholder="Email nhận" value="@Model.email_Inbox" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email gửi tin </label>
                                        <input type="hidden" value="@Model.id" name="idupdate" />
                                        <input type="email" class="form-control csinput" name="emailg" maxlength="50" placeholder="Email gửi tin" value="@Model.email_Send" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mật khẩu email</label>
                                        <input type="password" class="form-control csinput" name="pass" maxlength="50" placeholder="Mật khẩu email" value="@Model.emailPass" />
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label>Cổng gửi mail</label>
                                        <input type="number" class="form-control csinput" name="cong" placeholder="Cổng gửi mail" value="@Model.mail_Port" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Logo trên</label>
                                        <input type="text" class="form-control csinput" maxlength="256" name="logoTop" id="logoTop" placeholder="Chọn ảnh " value="@Model.logoTop" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Link logo</label>
                                        <input type="text" class="form-control csinput" name="link" maxlength="300" placeholder="Link logo" value="@Model.linkLogo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh nền trang sản phẩm</label>
                                        <input type="text" class="form-control csinput" maxlength="550" name="bgProduct" id="bgProduct" placeholder="Chọn ảnh " value="@Model.bgProduct" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh nền chân trang</label>
                                        <input type="text" class="form-control csinput" maxlength="550" name="bgNews" id="bgNews" placeholder="Chọn ảnh " value="@Model.bgNews" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh nền menu</label>
                                        <input type="text" class="form-control csinput" maxlength="550" name="bgMenu" id="bgMenu" placeholder="Chọn ảnh " value="@Model.bgMenu" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Hơn 200+ khách hàng...</label>
                                        <input type="text" class="form-control csinput" name="addres" maxlength="350" placeholder="Giới thiệu khách hàng" value="@Model.addresss" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Bản đồ trang liên hệ</label>
                                @Html.TextAreaFor(u => u.mapHN)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Bản đồ nhỏ chân trang</label>
                                @Html.TextAreaFor(u => u.mapHCM)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Về chúng tôi</label>
                                @Html.TextAreaFor(u => u.footer)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Thông tin liên hệ</label>
                                @Html.TextAreaFor(u => u.infoPage)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Video trang chủ</label>
                                @Html.TextAreaFor(u => u.homeVideo)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Thông tin trang liên hệ</label>
                                @Html.TextAreaFor(u => u.conTact)
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số sản phẩm trang chủ</label>
                                        <input type="number" class="form-control csinput" name="viewProPageHome" placeholder="" required="required" value="@Model.viewProPageHome" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số sản phẩm trang danh sách</label>
                                        <input type="number" class="form-control csinput" name="viewProPageList" placeholder="" required="required" value="@Model.viewProPageList" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số sản phẩm cùng nhóm trang chi tiết</label>
                                        <input type="number" class="form-control csinput" name="viewProPageDetail" placeholder="" required="required" value="@Model.viewProPageDetail" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số tin tức hiện trang chủ</label>
                                        <input type="number" class="form-control csinput" name="viewNewPageHome" placeholder="" required="required" value="@Model.viewNewPageHome" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số tin tức trang danh sách</label>
                                        <input type="number" class="form-control csinput" name="viewNewPageList" placeholder="" required="required" value="@Model.viewNewPageList" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số tin tức trang chi tiết</label>
                                        <input type="number" class="form-control csinput" name="viewNewPageDetail" placeholder="" required="required" value="@Model.viewNewPageDetail" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số thư viện trang danh sách</label>
                                        <input type="number" class="form-control csinput" name="viewLibPageList" placeholder="" required="required" value="@Model.viewLibPageList" />
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label>Phí ship</label>
                                        <input type="number" class="form-control csinput" name="priceShip" placeholder="" required="required" value="@Model.priceShip" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_6">
                        <div class="form-group">
                            <label>Kênh facebook</label>
                            <input type="text" class="form-control csinput" name="facebook" maxlength="550" placeholder="Kênh facebook" value="@Model.faceBook" />
                        </div>
                        <div class="form-group">
                            <label>Kênh youtube</label>
                            <input type="text" class="form-control csinput" name="youtube" maxlength="550" placeholder="Kênh youtube" value="@Model.youTube" />
                        </div>
                        <div class="form-group">
                            <label>Kênh google</label>
                            <input type="text" class="form-control csinput" name="google" maxlength="550" placeholder="Kênh google" value="@Model.google" />
                        </div>
                        <div class="form-group">
                            <label>Kênh twiter</label>
                            <input type="text" class="form-control csinput" name="twiter" maxlength="550" placeholder="Kênh twiter" value="@Model.twiter" />
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_5">
                        <div class="form-group">
                            <label>Title seo</label>
                            <textarea type="text" class="form-control" name="titleseo" maxlength="800" rows="2" placeholder="Title seo">@Model.titleSeo</textarea>
                        </div>
                        <div class="form-group">
                            <label>Keyword seo</label>
                            <textarea type="text" class="form-control" name="keyseo" maxlength="800" rows="2" placeholder="Keyword seo">@Model.keySeo</textarea>
                        </div>
                        <div class="form-group">
                            <label>Description seo</label>
                            <textarea type="text" class="form-control" name="desseo" maxlength="800" rows="2" placeholder="Description seo">@Model.desSeo</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Nội dung bài viết trang chủ</label>
                            @Html.TextAreaFor(u => u.googleAdsense)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Live chat</label>
                            @Html.TextAreaFor(u => u.liveChat)
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Google Analytics</label>
                            @Html.TextAreaFor(u => u.googleAnalytics)
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>Lưu lại</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
    </div>
}
@if (Session["ok"] != null)
{
    <script type="text/javascript">
        toastr.success('@Session["ok"].ToString()');
    </script>
}
@if (Session["ok"] != null) { Session["ok"] = null; }

@if (Session["erro"] != null)
{
    <script type="text/javascript">
        toastr.error('@Session["erro"].ToString()');
    </script>
}
@if (Session["erro"] != null) { Session["erro"] = null; }

<script type="text/javascript">

    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {

        createEditor('vi', 'liveChat');
        createEditor('vi', 'conTact');
        createEditor('vi', 'googleAnalytics');
        createEditor('vi', 'googleAdsense');

        createEditor('vi', 'infoPage');
        createEditor('vi', 'mapHN');
        createEditor('vi', 'mapHCM');
        createEditor('vi', 'homeVideo');
        createEditor('vi', 'footer');

    });
</script>
<script type="text/javascript">

    $(function () {
        $("#logoTop").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#logoTop").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#bgProduct").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#bgProduct").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#bgNews").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#bgNews").val(fileUrl);
            };
            finder.popup();
        });
    });
    $(function () {
        $("#bgMenu").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#bgMenu").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
