
@{
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}

<div class="products">
    <div class="container no-padding">
        <div class="col-xs-12 col-5 col-sm-7 no-padding">
            <div class="blog-type">
                <div class="bre-cum">
                    <ul>
                        <li><a href="/" title="@ViewBag.home">@ViewBag.home</a></li>
                        <li>>></li>
                        <li><a href="/Hoi-dap" title="@ViewBag.key_hoidap">@ViewBag.key_hoidap </a></li>
                        <li>>></li>
                        <li><a href="#" title="@ViewBag.key_xemchitiet">@ViewBag.key_xemchitiet </a></li>
                    </ul>
                </div><!--end bre-cum-->
                <div class="box-list-blog" id="div_chitiet">


                </div><!--end box-list-blog-->
            </div><!--ed blog-type-->
        </div><!--end col-sm-7-->


        <div class="col-xs-12 col-5 col-sm-5 col-5xs no-padding">
            @Html.Action("GenNewRight", "TPAImport")
        </div><!--end col-sm-5-->
    </div><!--end container-->
</div><!--end products-->
<script>
    $('#div_chitiet').load('/BVMDHome/lstDetail/'+@ViewBag.idp);
</script>
