@model IList<Productgold.Models.News>
@{
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
    var List_View = (List<Productgold.Models.News>)ViewBag.List_View;
    var listTren = (List<Productgold.Models.NewListView>)ViewBag.listTren;
    var listGiua = (List<Productgold.Models.NewListView>)ViewBag.listGiua;
    var listDuoi = (List<Productgold.Models.NewListView>)ViewBag.listDuoi;

    var bonAnh = (List<Productgold.Models.Adv>)ViewBag.bonAnh;
    var SlideAnh = (List<Productgold.Models.Adv>)ViewBag.SlideAnh;
    var AnhGiua = (Productgold.Models.Adv)ViewBag.AnhGiua;
    var AnhPhai = (List<Productgold.Models.Adv>)ViewBag.AnhPhai;

    string note = "";
    string classTren = "kid-right";
    string classGiua = "kid-right";
}

<div class="products">
    <div class="container no-padding">
        <div class="col-xs-12 col-5 col-sm-7 no-padding">
            <div class="slide">
                <div class="navition one">
                    <div class="nextt">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </div>
                    <div class="privew">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="owl1" class="owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        note = Productgold.Models.StringClass.FormatContentNews(item.descript, 110);
                        <div class="item">
                            <div class="pro-slide">
                                <a href="/Tin/@item.new_key" title="@item.title"><img src="@item.images" class="img-responsive" alt="@item.title"></a>
                                <div class="mot-ta">
                                    <a href="/Tin/@item.new_key" title="@item.title">@item.title</a>
                                    <p class="tom-tat">@note</p>
                                </div>
                            </div><!--end pro-slide-->
                        </div>
                    }

                </div><!--end owl1-->
            </div><!--end slide-->

            <div class="box-news">
                @foreach (var item in listTren)
                {

                    <div class="col-xs-12 col-sm-6 col-5 no-padding">
                        <div class="@classTren">
                            <div class="title">

                                <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name"><img src="~/Content/Site/images/bgr-title.png" class="img-responsive" alt="@item.cateNew.name"></a>
                                <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name">@item.cateNew.name</a>
                            </div><!--end title-->
                            @if (item.newList.Count > 0)
                            {
                                note = Productgold.Models.StringClass.FormatContentNews(item.newList[0].descript, 110);
                                <div class="box-tre-em">
                                    <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title"><img src="@item.newList[0].images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.newList[0].title"></a>
                                    <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title" class="name-tin-tuc">
                                        @item.newList[0].title
                                    </a>
                                    <p>@note</p>
                                    <div class="date">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> @item.newList[0].createdate.Value.ToString("HH:mm") / @item.newList[0].createdate.Value.ToString("dd/MM/yyyy")
                                        </p>
                                        <p>@ViewBag.key_luotxem: @item.newList[0].viewCount</p>
                                    </div>
                                </div>
                                <div class="list-news">
                                    @for (int i = 1; i < item.newList.Count; i++)
                                    {
                                        <div class="box-list-news">
                                            <a href="/Tin/@item.newList[i].new_key" title="@item.newList[i].title"><img src="@item.newList[i].images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.newList[i].title"></a>
                                            <div class="text-right">
                                                <a href="/Tin/@item.newList[i].new_key" title="@item.newList[i].title">@item.newList[i].title</a>
                                                <p>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    @item.newList[i].createdate.Value.ToString("HH:mm") / @item.newList[i].createdate.Value.ToString("dd/MM/yyyy")
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }

                        </div><!--end kid-right-->
                    </div><!--end col-sm-6-->
                    classTren = "kid-left";
                }
            </div><!--end box-news-->
        </div><!--end col-sm-7-->
        <div class="col-xs-12 col-5 col-sm-5 col-5xs no-padding">
            @Html.Action("GenNewRight", "TPAImport")
        </div><!--end col-sm-5-->
        @if (AnhGiua != null)
        {
            <div class="qc"><a href="@AnhGiua.link" title="@AnhGiua.advName"><img src="@AnhGiua.images" class="img-responsive" alt="@AnhGiua.advName"></a></div><!--end qc-->
        }

        <div class="col-xs-12 col-5 col-sm-7 no-padding">
            <div class="box-sk">
                @foreach (var item in listGiua)
                {

                    <div class="col-xs-12 col-sm-6 col-5 no-padding">
                        <div class="@classGiua">
                            <div class="title">
                                <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name"><img src="~/Content/Site/images/bgr-title.png" class="img-responsive" alt="@item.cateNew.name"></a>
                                <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name">@item.cateNew.name</a>
                            </div><!--end title-->
                            @if (item.newList.Count > 0)
                            {
                                note = Productgold.Models.StringClass.FormatContentNews(item.newList[0].descript, 110);
                                <div class="box-tre-em">
                                    <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title"><img src="@item.newList[0].images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.newList[0].title"></a>
                                    <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title" class="name-tin-tuc">
                                        @item.newList[0].title
                                    </a>
                                    <div class="date">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> @item.newList[0].createdate.Value.ToString("HH:mm") / @item.newList[0].createdate.Value.ToString("dd/MM/yyyy")
                                        </p>
                                        <p>@ViewBag.key_luotxem: @item.newList[0].viewCount</p>
                                    </div>
                                    <p>@note</p>

                                </div>
                                <div class="list-news">
                                    @for (int i = 1; i < item.newList.Count; i++)
                                    {
                                        <div class="box-list-news">
                                            <a href="/Tin/@item.newList[i].new_key" title="@item.newList[i].title"><img src="@item.newList[i].images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.newList[i].title"></a>
                                            <a href="/Tin/@item.newList[i].new_key" title="@item.newList[i].title" class="name-sk">@item.newList[i].title</a>
                                        </div>
                                    }
                                </div>
                            }

                        </div><!--end kid-right-->
                    </div><!--end col-sm-6-->
                    classGiua = "kid-left";
                }

            </div><!--end box-sk-->
            <div class="clearfix"></div>
            <div class="box-images">
                <div class="title">
                    <a href="javascript:void(0)"><img src="~/Content/Site/images/bgr-title.png" class="img-responsive" alt=""></a>
                    <a href="javascript:void(0)">@ViewBag.key_hinhanhhoatdong</a>
                    <div class="navition two">
                        <div class="privew">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </div>
                        <div class="nextt">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </div>
                    </div>
                </div><!--end title-->

                <div id="owl2" class="owl-carousel owl-theme">
                    @foreach (var item in SlideAnh)
                    {
                        <div class="item">
                            <div class="pro-slide pro-slide_cs">
                                <a href="javascript:void(0)" title="@item.advName"><img src="@item.images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.advName"></a>
                            </div><!--end pro-->
                        </div>
                    }

                </div>

            </div><!--end box-images-->

            <div class="phat-trien">
                <div class="right-phat-trien">
                    <div class="box-pt">
                        @foreach (var item in bonAnh)
                        {
                            <a href="javascript:void(0)" title="@item.advName"><img src="@item.images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.advName"></a>
                        }
                    </div><!--end box-pt-->
                </div><!--end right-phat-trien-->
            </div><!--end phat-trien-->
            <div class="clearfix"></div>
          
            @foreach (var item in listDuoi)
            {
                <div class="clb">
                    <div class="title">
                        <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name"><img src="~/Content/Site/images/bgr-title.png" class="img-responsive" alt="@item.cateNew.name"></a>
                        <a href="/Tin-tuc/@item.cateNew.keys" title="@item.cateNew.name">@item.cateNew.name</a>
                    </div><!--end title-->
                    <div class="box-clb">
                        @if (item.newList.Count > 0)
                        {
                            note = Productgold.Models.StringClass.FormatContentNews(item.newList[0].descript, 110);
                            <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title"><img src="@item.newList[0].images.Replace("uploads", "uploads/_thumbs")" class="img-responsive" alt="@item.newList[0].title"></a>
                            <div class="right-clb">
                                <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title" class="name-clb">@item.newList[0].title</a>
                                <p>
                                    @note
                                    <a href="/Tin/@item.newList[0].new_key" title="@item.newList[0].title">xem chi tiết >></a>
                                </p>
                            </div>
                            <div class="list-clb">
                                <ul>
                                    @for (int i = 1; i < item.newList.Count; i++)
                                    {
                                        <li>
                                            <a href="/Tin/@item.newList[i].new_key" title="@item.newList[i].title">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                @item.newList[i].title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div><!--end list-clb-->
                        }
                    </div><!--end box-clb-->
                </div><!--end clb-->
            }


        </div><!--end col-sm-7-->
        <div class="col-xs-12 col-5 col-sm-5 no-padding">
            <div class="kid-left-ta">
                <div class="multi-views">
                    <h4 class="text-center">@ViewBag.key_tinxemnhieu</h4>
                    <ul>
                        @foreach (var item in List_View)
                        {
                            <li><a href="/Tin/@item.new_key" title="@item.title">@item.title</a></li>
                        }
                    </ul>

                </div><!--end multi-views-->
                <div class="fanpage">
                    <div class="fb-page" data-href="@ViewBag.fbRight"
                         data-tabs="timeline"
                         data-width="420px" data-small-header="false" data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/facebook">Facebook</a>
                        </blockquote>
                    </div>
                </div><!--end fan-pages-->
                <div class="clearfix"></div>
                <div class="location">
                    <h4>@ViewBag.key_vechungtoi</h4>
                    @Html.Raw(ViewBag.mapRight)
                </div><!--end location-->
                @foreach (var item in AnhPhai)
            {
                    <div class="support-online">
                        <a href="@item.link" title="@item.advName"><img src="@item.images" class="img-responsive" style="width:@item.width px;height:@item.height px" alt="@item.advName"></a>
                    </div>
                }
            </div><!--end kid-left-tab-->
        </div><!--end col-sm-5-->
    </div><!--end container-->
</div><!--end products-->
