@model IList<NTSPRODUCT.Models.OderExten>
@{
    int index = ViewBag.Index;
}
<div class="col-sm-12 " style="overflow-x:auto">
    <table class="table table-bordered table-hover" style="min-width:1480px">
        <thead>
            <tr>
                <th class="text-center" width="50px">STT</th>
                <th class="text-center" width="140px">Chức năng</th>
                <th class="text-left">Khách hàng</th>
                <th class="text-left" width="140px">Email</th>
                <th class="text-left" width="140px">Phone</th>
                <th class="text-left" width="140px">Địa chỉ</th>
                <th class="text-left" width="140px">Tổng tiền</th>
                <th class="text-left" width="140px">Phí ship</th>
                <th class="text-center" width="130px">Ngày tạo</th>
                <th class="text-center" width="130px">Ngày cập nhật</th>
                <th class="text-center" width="130px">NV cập nhật</th>
                <th class="text-center" width="150px">Trạng thái</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                index++;
            <tr>
                <td class="text-center">@index</td>
                <td class="text-center">
                    <a target="_blank" href="/Oders/ViewDetail/@Model[i].id" title="Xem chi tiết"><span class="glyphicon glyphicon-list-alt font18"></span> </a>
                    <a href="javascript:void(0)" onclick="viewUpdate('@Model[i].id')" title="Sửa trạng thái"><span class="fa fa-edit font18"></span></a>
                    <a href="javascript:void(0)" onclick="DeleteConfim('@Model[i].id')" title="Xóa"><span class="fa fa-trash-o font18"></span> </a>
                </td>
                <td class="text-left">@Model[i].fullName</td>
                <td class="text-left">@Model[i].email</td>
                <td class="text-left">@Model[i].phone</td>
                <td class="text-left">@Model[i].addresss</td>
                <td class="text-right">@Model[i].total.Value.ToString("N0")</td>
                <td class="text-right">@Model[i].priceShip.Value.ToString("N0")</td>

                <td class="text-center">@Model[i].createDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text-center">@(Model[i].updateDate!=null? Model[i].updateDate.Value.ToString("dd/MM/yyyy HH:mm"):"")</td>
                <td class="text-left">@Model[i].EmpName</td>

                <td class="text-center">
                    @if (Model[i].status == 1)
                    {
                        <span>Chưa xử lý</span>
                    }
                    else if (Model[i].status == 2)
                    {
                        <span>Đang xử lý</span>
                    }
                    else if (Model[i].status == 3)
                    {
                        <span>Đã giao hàng</span>
                    }
                    else
                    {<span>Đã hủy</span>}
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-5">
    <div class="form-group">
        <div class="controls">
            <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <span>bản ghi/Trang</span>
        </div>
    </div>
</div>
<div class="col-sm-7">
    @Html.Raw(ViewBag.pages)
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);
</script>

