@model IList<Productgold.Models.Product>
@{
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}

<div class="products-pages">
    <div class="container">
        <div class="bre">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="/" title="@ViewBag.NavTrangchu">@ViewBag.NavTrangchu</a></li>
                        <li><a href="/San-pham" title="@ViewBag.key_sanpham">@ViewBag.key_sanpham</a></li>
                        @Html.Raw(ViewBag.TieudeDanhmuc)
                    </ol>
                </div>
            </div>
        </div>

        <div class="box-blog-section danh-sach-san-pham">
            @Html.Action("GenDanhmuc", "TPAImport")
            <div class="right-section">
                <div class="sp-new">
                @foreach (var item in Model)
                {
                    <div class="items-pro-products-pages">
                        <div class="pro">
                            <div class="ov-img">
                                <a href="/Chi-tiet/@item.pro_key" title="@item.pro_name">
                                    <img alt="@item.pro_name" class="img-responsive" src="@item.proAvata">
                                </a>
                                <div class="bgr-hover">
                                    <p>
                                        <a href="/Chi-tiet/@item.pro_key" title="@item.pro_name">
                                            <b>@item.pro_name</b>:<br>
                                            - @ViewBag.key_thuonghieu: @item.Brand.name <br>
                                            - @ViewBag.key_modelsp: @item.proCode  <br>
                                         
                                        </a>
                                    </p>
                                </div>
                            </div><!--end ov-img-->
                            <div class="profile">
                                <p><a href="/Chi-tiet/@item.pro_key" title="@item.pro_name">@item.pro_name</a></p>
                            </div><!--end profile-->
                        </div><!--end pro-->
                    </div>
                }

                </div><!--end sp-new-->
                @Html.Raw(ViewBag.pages)
                @*<div class="pagination-area">
                    <ul>
                        <li><a class="active" href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>*@
                <div class="cleafix"></div>
            </div><!--end right-section--->
        </div><!--end box-blog-section-->
    </div><!--end container-->
</div><!--end products-pages-->
