@model IList<NTSPRODUCT.Models.Category>
@{
    int index = ViewBag.Index;
    string strCap = "";
}
<div class="col-sm-12 " style="overflow-x:auto">
    <table class="table table-bordered table-hover" style="min-width:1150px">
        <thead>
            <tr>
                <th width="100px" class="text-center">Ảnh</th>
                <th width="130px">Chức năng</th>
                <th>Danh mục hãng</th>
                <th width="260px">Nhóm cha</th>
                <th width="110px" class="text-center">Thứ tự</th>
                <th width="150px"  class="text-center">Hiện trang chủ</th>
                <th width="120px"  class="text-center">Trạng thái</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                strCap = "";
                for (int j = 1; j < Model[i].cate_cap; j++)
                {
                    strCap += "==";
                }
                strCap += strCap.Length == 0 ? "" : ">";
            <tr>
                <td class="text-center"><img class="avata-admin" src="@Model[i].cateImage" /></td>
                <td>
                    <a href="/Categorys/UpdateCatepro/@Model[i].id" title="Sửa"><span class="fa fa-edit"></span>Sửa</a> |
                    <a href="javascript:void(0)" onclick="DeleteConfim('@Model[i].id')" title="Xóa"><span class="fa fa-trash-o"></span> Xóa</a>
                </td>
                <td> @strCap @Model[i].cateName</td>
                <td>@ClassExten.GetCateCha(Model[i].catepar_id)</td>
                <td class="text-center">@Model[i].cateOrder</td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeActiveHome('@Model[i].id')" @(Model[i].cateActiveHome == true ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td class="text-center">
                    <label class="switch">
                        <input type="checkbox" onchange="ChangeStatus('@Model[i].id')" @(Model[i].cateActive == true ? "checked" : "")>
                        <span class="slider round"></span>
                    </label>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-5">
    <div class="form-group">
        <div class="controls">
            <select class="form-control combobox-padding" onchange="ChangeSize()" id="pageSize">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <span>bản ghi/Trang</span>
        </div>
    </div>
</div>
<div class="col-sm-7">
    @Html.Raw(ViewBag.pages)
</div>
<script>
    $('#count_data').html(@ViewBag.TotalItem);
    $('#pageSize').val(@ViewBag.PageSize);
</script>
