@model IList<NTSPRODUCT.Models.Product>
@{
    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    var pro = (NTSPRODUCT.Models.Product)ViewBag.pro;
    var cateP = (NTSPRODUCT.Models.Category)ViewBag.cateP;
    var catePSub = (NTSPRODUCT.Models.Category)ViewBag.catePSub;
    var protag = (List<NTSPRODUCT.Models.Tagpro>)ViewBag.protag;
    var SayWe = (List<NTSPRODUCT.Models.SayWe>)ViewBag.SayWe;
    var newsPro = (List<NTSPRODUCT.Models.News>)ViewBag.newsPro;
    var adv = (NTSPRODUCT.Models.Adv)ViewBag.advs;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("NavMenu", "ChildView")
<div class="product-de">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="breack">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <nav class="nav-bre" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/" title="@ClassExten.GetLangKey("home")">@ClassExten.GetLangKey("home")</a></li>
                                    <li class="breadcrumb-item"><a href="/danh-muc" title="Sản phẩm">Sản phẩm</a></li>
                                    <li class="breadcrumb-item"><a href="/danh-muc/@cateP.cateKey" title="@cateP.cateName">@cateP.cateName</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="#" title="@pro.pro_name">@pro.pro_name</a></li>
                                </ol>
                            </nav>
                        </div>
                    </nav>
                </div>
                <div class="detail-pro">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <div class="pro-slide">
                                <div class="demo">
                                    <div class="item">
                                        <div class="clearfix" style="max-width:474px;">
                                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                <li data-thumb="@pro.proAvata">
                                                    <img src="@pro.proAvata" alt="@pro.pro_name" />
                                                </li>
                                                @if (!string.IsNullOrEmpty(pro.proImages1))
                                                {
                                                    <li data-thumb="@pro.proImages1">
                                                        <img src="@pro.proImages1" alt="@pro.pro_name" />
                                                    </li>
                                                }
                                                @if (!string.IsNullOrEmpty(pro.proImages2))
                                                {
                                                    <li data-thumb="@pro.proImages2">
                                                        <img src="@pro.proImages2" alt="@pro.pro_name" />
                                                    </li>
                                                }
                                                @if (!string.IsNullOrEmpty(pro.proImages3))
                                                {
                                                    <li data-thumb="@pro.proImages3">
                                                        <img src="@pro.proImages3" alt="@pro.pro_name" />
                                                    </li>
                                                }
                                                @if (!string.IsNullOrEmpty(pro.proImages4))
                                                {
                                                    <li data-thumb="@pro.proImages4">
                                                        <img src="@pro.proImages4" alt="@pro.pro_name" />
                                                    </li>
                                                }
                                                @if (!string.IsNullOrEmpty(pro.proImages5))
                                                {
                                                    <li data-thumb="@pro.proImages5">
                                                        <img src="@pro.proImages5" alt="@pro.pro_name" />
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <div class="pro-content">
                                <h1>@pro.pro_name</h1>
                                <p class="check-pro">(Còn Hàng)</p>
                                <div class="pro-price">
                                    <p>Đơn giá</p>
                                    <p class="pri">
                                        <span>@((pro.proPrice_sale!=null && pro.proPrice_sale!=0)? pro.proPrice_sale.Value.ToString("N0"):"Liên hệ" )</span><span>@pro.brank</span>
                                    </p>
                                </div>
                                <div class="cont">
                                    @Html.Raw(pro.desPro)
                                </div>
                                <div class="total">
                                    <p>Số lượng:</p>
                                    <input type="number" value="1" name="" class="total-pro">
                                    <input type="hidden" id="idPro" value="@pro.id" />

                                </div>
                                <div class="sumit">
                                    <button type="button" onclick="PushProduct()">Đặt Mua</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                @if (adv != null)
                {
                    <div class="pag-banner-right">
                        <a href="@adv.advLink" title="@adv.advName"><img src="@adv.advImage" alt="@adv.advName"></a>

                    </div>
                }
                <div class="y-kien-kh">
                    <div class="tile">
                        <h4>ý kiến khách hàng</h4>
                    </div>
                    <div class="y-kien-cont">
                        <div class="row">
                            @foreach (var item in SayWe)
                            {
                                <div class="yk-item">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="yk-img">
                                            <span><img src="@item.avata" alt="@item.fullName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="yk-name">
                                            <p class="name">@item.fullName</p>
                                            <p class="adrees">@item.addresss</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="yk-cont">
                                            <p>@item.contents </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-detai-pro">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="info-pro">
                    <div class="pro-detail-title">
                        <h3>Chi tiết sản phẩm</h3>
                    </div>
                    <div class="info-cont">
                        @Html.Raw(pro.proContentTab1)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="pro-right">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="pro-detail-title">
                                <h3>Sản phẩm có thể bạn thích</h3>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="pro-right-item">
                                <div class="col-md-6 col-xs-12 rigth1">
                                    <div class="pro-rigt-img">
                                        <a href="/san-pham/@item.pro_key" title="@item.pro_name"><img src="@item.proAvata" alt="@item.pro_name"></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 rigth2">
                                    <div class="pro-right-name">
                                        <h2>@item.pro_name</h2>
                                        <div class="pro-right-price">
                                            <p>Đơn giá</p>
                                            <p class="pri">@((item.proPrice_sale!=null && item.proPrice_sale!=0)? item.proPrice_sale.Value.ToString("N0"):"Liên hệ" ) <span>@item.brank</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="pro-right-2">
                    <div class="pro-detail-title">
                        <h3>Món ngon cùng tân sơn food</h3>
                    </div>
                    @foreach (var item in newsPro)
                    {
                        <div class="pro-right-2-item">
                            <div class="right-2-img">
                                <a href="/tin/@item.new_key" title="@item.title"><img src="@item.newImage" alt="@item.title"></a>
                            </div>
                            <div class="right-2-text">
                                <a href="/tin/@item.new_key" title="@item.title">@NTSPRODUCT.Models.StringClass.FormatContentNews(item.descript, 38)</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

