@{
    var newData = (NTSPRODUCT.Models.Teacher)ViewBag.newData;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="rows">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb" itemscope="">
                    <li class="home">
                        <a itemprop="url" href="/" title="@ClassExten.GetLangKey("home")"><span itemprop="title">@ClassExten.GetLangKey("home")</span></a>
                        <span class="mr_lr">&nbsp;<i class="fa fa-caret-right"></i>&nbsp;</span>
                    </li>
                    @if (newData != null)
                    {
                        <li><strong><span itemprop="title">@newData.name</span></strong></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="page-detail">
    <div class="container">
        <div class="row">
            @Html.Action("PageNewLeft", "ChildView", new { lang = ViewBag.lang })
            <div class="col-md-9 col-xs-12 col-lg-9">
                <div class="titel-detail">
                    <h1>@newData.name</h1>
                </div>
                <div class="page-detail-text">
                    @Html.Raw(newData.note)
                </div>
            </div>
        </div>
    </div>
</section>
