@model IList<NTSPRODUCT.Models.Partner>
@{
    var conf = (NTSPRODUCT.Models.Config)ViewBag.conf;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(conf.bgProduct))
{
    <style>
        .breadcrumb_background {
            background-image: url(@conf.bgProduct);
        }
    </style>
}
<div class="breadcrumb_background">
    <span class="overlay"></span>
    <div class="title_full">
        <div class="container a-center">
            <h1 class="title_page">@ClassExten.GetLangKey("key_doitac")</h1>
        </div>
    </div>
</div>
<section class="bread-crumb">
    <span class="crumb-border"></span>
    <div class="container">
        <div class="rows">
            <div class="col-xs-12 a-left">
                <ul class="breadcrumb" itemscope="">
                    <li class="home">
                        <a itemprop="url" href="/" title="@ClassExten.GetLangKey("home")"><span itemprop="title">@ClassExten.GetLangKey("home")</span></a>
                        <span class="mr_lr">&nbsp;<i class="fa fa-caret-right"></i>&nbsp;</span>
                    </li>
                    <li><strong><span itemprop="title">@ClassExten.GetLangKey("key_doitac")</span></strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="page-detail">
    <div class="container">
        <div class="row">
            @Html.Action("PageNewLeft", "ChildView", new { lang = ViewBag.lang, typePage = "list" })
            <div class="col-md-9 col-xs-12 col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-lg-3 col-xs-12">
                            <div class="items-product">
                                <a href="#" title="@item.pName">
                                    <img src="@item.pImage" alt="@item.pName">
                                </a>
                                <p><a href="#" title="@item.pName">@item.pName</a></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>